.dishes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 40px;
    margin-top: 1.5rem;
}

.dish-card {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    background-color: white;
    border-radius: 35px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    cursor: pointer;
    transition: all 0.3s ease;
}

.dish-card:hover {
    border: 2px solid tomato;
}

.dish-card img {
    .dish-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
    margin: 0 0 20px 0;
}

.dish-card .price,
.dish-card .name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.dish-card .weight {
    color: gray;
    margin-top: auto;
    margin-bottom: 16px;
}

.dish-card .add-button {
    background-color: #f1eee9;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

.dish-card:hover .add-button {
    background-color: #e0d9d0;
}

/* Адаптивность */
@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    header h1 {
        text-align: center;
    }
    section h2 {
        text-align: center;
    }
    .dishes-grid {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}
